<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon -->
  <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->

  <link rel="shortcut icon" href="favicon.svg" type="image/svg+xml">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Title -->
  <title>Project</title>

  <!-- Fonts -->
  <link rel="preload" href="fonts/Geometria-Bold.woff2" as="font" type="font/woff2" crossorigin>

  <!-- CSS -->
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">

  <!-- JS -->
  <script defer src="js/main.js"></script>
</head>
